{% extends 'base.html' %}
{% block title %}
  Home Page
{% endblock %}
{% block buttons %}
  <div class="d-flex align-items-center m">
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit" name="submit" class="btn btn-light">Logout</button>
    </form>
  </div>
  <div class="d-flex align-items-center">
    <button class="btn btn-light"><a href="{% url 'homePage' %}">Home</a></button>
  </div>
  <div class="d-flex align-items-center">
    <button class="btn btn-light"><a href="{% url 'blogs' %}">Blogs</a></button>
  </div>
{% endblock %}

{% block content %}
  {% comment %}MAIN{% endcomment %}
  <div class="container" style="display: flex; align-items: center; padding-top: 40px; padding-bottom: 40px;">
    {% comment %}user card{% endcomment %}
    <div style="width: 50%;">
      <h1><strong>Hello, {{ user.Name }} {{ user.Surname }}</strong></h1>
    </div>
    <form action="{% url 'post_blog' %}" method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="blog_content" class="form-label">Example textarea</label>
        <textarea class="form-control" name="blog_content" id="blog_content" rows="4"></textarea>
      </div>
      <button type="submit" name="submit" class="btn btn-secondary">Post blog</button>
    </form>
  </div>
{% endblock %}
